body{
    font-family: Arial;
    text-align:center;
    background:#ffe9ec;
}

.container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    margin-top:30px;
}

#puzzle{
    display:grid;
    grid-template-columns:repeat(3,110px);
    grid-template-rows:repeat(3,110px);
    gap:6px;
}

.tile{
    width:110px;
    height:110px;
    border-radius:10px;
    cursor:pointer;
    background-repeat:no-repeat;
    background-size:330px 330px;

    transition:all 0.3s ease;   /* SMOOTH SLIDE */
}

.empty{
    background:none;
    cursor:default;
}

.side{
    display:flex;
    flex-direction:column;
    align-items:center;
}

#reference{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:15px;
}

button{
    padding:12px 22px;
    border:none;
    border-radius:10px;
    background:#ff4d6d;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-top:10px;
}

.hidden{
    display:none;
}

#message{
    margin-top:40px;
    color:#d6336c;
    font-size:24px;
}
