body {
    text-align: center;
    font-family: Arial;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#puzzle {
    display: grid;
    width: min(85vw, 420px);
    height: min(85vw, 420px);
    border: 3px solid white;
}

.preview-container {
    color: white;
}

.preview-container img {
    width: 150px;
    border: 3px solid white;
    border-radius: 10px;
}

.tile {
    border: 1px solid white;
    transition: 0.3s;
}

.empty {
    background: transparent;
    border: none;
}

.hidden {
    display: none;
}

#countdown {
    font-size: 40px;
    color: white;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    50% { transform: scale(1.2); }
}

@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}
